body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 25px;
    background-color: rgb(36, 36, 36);
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    padding: 95px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.388);
    
}
div{
    display: inline-block;
}
input[type='button']{
    width: 100px;
    color: white;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    border: none    ;
    transition: 0.5s ease;
    display: inline;
}
input[type='button']:hover{
    background-color: black;
    cursor: pointer;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}